<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {%  block scripts %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="content" class="container-fluid">
    <div>
        <a href="/">root</a>
        <a href="/page1">page1</a>
        <a href="/page2">page2</a>
        <a href="/page3">page3</a>
    </div>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>
